html ,body {height:100%; margin: 0;}

a {text-decoration: none;}

button{cursor: pointer;}

body { 
    font-family: "Roboto Mono";
    background-color: #1D263B;
    color: #ffffff;
}

#root{
    height: 100%;
}

/* Home Page */
.home-Page{
    height: 100%;
}

.nav-bar{
    display: flex;
    justify-content: right;
    position: fixed;
    background-color: black;
    top: 0;
    width: 100%;
    height: 8%;
}

.nav-btns button{
    color: #ffffff;
    background-color: black;
    font-family: "Roboto Mono";
    height: 100%;
    border-style: none;
    font-size: 1.5em;
    padding-right: 1em;
}

.nav-btns button:hover {
    background-color: #ffffff;
    color: black;
}

.intro-title{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 8%;
    font-size: 3.5em;
}


@media only screen and (width >= 2155px) and (height >= 850px) {
    
    .intro{
        display: inline-flex;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 15%;
        width: 90%;
        height: 100vh;
    }
    
    .photo-self{
        max-width: 100%;
        max-height: 75vh;
        
    }
    .body{
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 3.5em;
    }
}

@media screen and (width < 2155px),
    screen and (height < 850px){

    .intro{
        display: inline-block;
        width: 100%;
    }

    .photo-self{
        display: block;
        margin-left: auto; 
        margin-right: auto; 
        margin-bottom: 7%;
        max-height: 75vh;
    }

    .body{
        margin-left: 5%;
        margin-right: 5%;
        display: block;
        font-size: 2.7em;
    }

    .intro-title{font-size: 2.5em;}
}

@media screen and (width < 650px){

    .photo-self{
        margin-bottom: 10%;
        max-height: 60vh;
    }

    .body{
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 1.4em;
    }

    
}

@media screen and (height > 920px){
    .scroll-top{
        height: 3vh;
    }
}

@media screen and (height < 920px){
    .scroll-top{
        height: 6vh;
    }
}

.title{
    text-align: center;
    margin-bottom: 4%;
    font-size: 3em;
}

.scroll-top{
    background-color: rgba(46, 48, 47, 0.856);
    color: #ffffff;
    width: 26%;
    font-size: 1.2em;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.contact{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-bottom: 10%;  
}

.contact h1{
    font-size: 2.6em;
    margin-bottom: 3%;
}

.contact-name, .contact-subject{
    background-color: #5C6784;
    color: black;
    font-size: 1.5em;
    font-family: "Roboto Mono";
    margin-bottom: 2.5%;
    width: 99%;
    height: 4vh;
    padding-left: 1%;
}

.contact-message{
    background-color: #5C6784;
    color: black;
    font-size: 1.5em;
    font-family: "Roboto Mono";
    margin-bottom: 4%;
    width: 99%;
    height: 25vh;
    padding-left: 1%;
    line-height: 200%;
}

.contact button{
    padding-left: .5em;
    padding-right: .5em;
    float: right;
    width: fit-content;
    height: fit-content;
    color: #ffffff;
    background-color: black;
    font-family: "Roboto Mono";
    font-size: 1.5em;
}

::placeholder{color: black;}

:focus::placeholder {color: transparent;}

.footer{
    margin-top: auto;
    font-size: 1.2em;
    text-align: center;
    padding: 3% 3%;
}
.hamburger-react{z-index: 1;}

.menu{
    position: absolute;
    top: 0;
    width: 75%;
    min-height: 100vh;
    background-color: rgba(46, 48, 47, 0.856);
}

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .2s, opacity .2s linear;
}

.visible{
    left: -75%;
    animation-name: slide-menu-in;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.mobile-nav-btns button{
    height: 17vh;
    width: 100%;
    display: block;
    border-style: none;
    background-color: rgba(46, 48, 47, 0.856);
    color: #ffffff;
    font-family: "Roboto Mono";
    font-size: 2em;
}

.mobile-nav-btns button:hover {
    background-color: #ffffff;
    color: black;
}

@keyframes slide-menu-in {
    from{transform: translateX(0);}
    to{transform: translateX(100%);}
}

@keyframes fade-menu-out {
    from{transform: translateX(100%);}
    to{transform: translateX(-100%);}
}

/* Projects Page */
.projects-page{
    display: flex; 
    flex-direction: column; 
    min-height: 100%;}

.return-btn{
    background-color: rgba(46, 48, 47, 0.856);
    color: #ffffff;
    width: 20em;
    height: 5%;
    position: fixed;
    top: 3%;
    left: 3%;
}

.return-btn:hover{background-color: rgba(49, 51, 50, 0.856);}

.projects{
    display:flex;
    margin: 5% 5%;
    height: 50%;
}
.project-title{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 3.5em;
}

.personal-site-div{
    border-style: solid;
    width: 50%;
    margin-left: 5%;
}

.personal-site-btn{
    color: white;
    background-color: black;
    font-size: 3em;
    height: auto;
    align-content: center;
    margin-left: 50%;
    margin-top: 2%;
    width: auto;
    padding: 7% 7%;
    transform: translateX(-50%);
}

.personal-site-btn:hover{
    color: black;
    background-color: white;
}

.project-txt-one{
    font-size: 2em;
}

.project-txt-two{
    text-align: center;
    font-size: 1.2em;
    margin-left: 50%;
    transform: translateX(-50%); 
}

@media screen and (width < 1450px){
    .personal-site-div{
        border-style: none;
        width: 100%;
        margin-left: 0;
    }
}