html,body { height:100%; }

::placeholder{
    color: black;
}

a {
    text-decoration: none;
}

:focus::placeholder {
    color: transparent;
}

body { 
    margin-left: 0px;
    font-family: "Roboto Mono";
    background-color: #1D263B;
    color: #ffffff;
}

.title{
    margin-top: 4em;
    text-align: center;
    font-size: 3em;
}

.body{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 2em;
    text-align: center;
}

.nav-bar{
    display: flex;
    position: fixed;
    justify-content: right;
    top: 0;
    width: 100%;
    height: 4em;
    background-color: black;
}

.nav-bar button{
    color: white;
    background-color: black;
    font-family: "Roboto Mono";
    height: 5.5vh;
    border-style: none;
    font-size: 1.5em;
    padding-right: 1em;
    padding-top: .5em;
}

.nav-bar button:hover {
    background-color: #04AA6D;
    color: white;
    }

.contact h1{
    margin-left: 3%;
}

.contact button{
    margin-left: 79%;
    margin-bottom: 1%;
    padding-left: .5em;
    padding-right: .5em;
    width: fit-content;
    height: fit-content;
    color: #ffffff;
    background-color: black;
    font-family: "Roboto Mono";
    font-size: 1.5em;
}

.contact{
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;  
    
}

.contact-name, .contact-subject{
    background-color: #5C6784;
    color: black;
    font-size: 1.5em;
    font-family: "Roboto Mono";
    margin-left: 3%;
    margin-bottom: 2%;
    width: 70%;
    height: 4vh;
    padding-left: 1%;
}

.contact-message{
    background-color: #5C6784;
    color: black;
    font-size: 1.5em;
    font-family: "Roboto Mono";
    margin-left: 3%;
    margin-bottom: 2%;
    width: 80%;
    height: 200px;
    padding-left: 1%;
    line-height: 200%;
}

.footer{
    padding-top: 5%;
    padding-bottom: 2%;    
    font-size: 1.2em;
    text-align: center;
}
.hamburger-react{
    z-index: 1;
}

.menu{
    position: absolute;
    top: 0;
    width: 75%;
    min-height: 100vh;
    background-color: rgba(46, 48, 47, 0.856);
}

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .2s, opacity .2s linear;
}

.visible{
    left: -75%;
    animation-name: slide-menu-in;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.menu-btns button{
    height: 17vh;
    width: 100%;
    display: block;
    border-style: none;
    background-color: rgba(46, 48, 47, 0.856);
    color: white;
    font-family: "Roboto Mono";
    font-size: 2em;
}

@keyframes slide-menu-in {
    from{transform: translateX(0);}
    to{transform: translateX(100%);}
}

@keyframes fade-menu-out {
    from{transform: translateX(100%);}
    to{transform: translateX(-100%);}
}



